

{% extends "layout.html" %}


{% block body %}

<div class="row">

	<!-- left column -->
	<div class="span6">
		<h3>{{ current_forUser.get('name')|title }}</h3>
		
		{% for idea in ideas %}
			<h4>IDEA: <a href="/ideas/{{ idea.slug }}">{{ idea.tagline }}</a></h4>
			<!-- <a href="/ideas/{{ idea.slug }}">{{ idea.tagline }}</a> -->
			<p>by {{ idea.creator }}</p>
			<!-- <a href="/ideas/{{ idea.slug }}">{{ idea.tagline }}</a> -->
			<p>
			{% for fUse in idea.forUser %}
				<span class="label label-inverse"><a href="/forUser/{{ fUse}}">{{ fUse|replace("_"," ")}}</a></span>
			{% endfor %}
			<hr/>
		{% endfor %}
		
	</div>

	<div class="span6">
		<!-- <h3>Users</h3> -->
		<ul>
		{% for fUse in forUser %}
		<li><a href="/forUser/{{ fUse|replace(" ","_") }}">{{ fUse|title }}</a></li>
		{% endfor %}
		</ul>

		<br><br>

		<!-- <a href="/" class="btn btn-large btn-info">Add Your Idea</a> -->
	</div>

	

	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}