<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="ITP RHESUSTHESUS SITE">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

        <!-- Get Font from Google http://www.google.com/webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>

        {% block styles %}{% endblock %}

    </head>
    <body>
    



        </style>
  
        <div class="container">

          <!--   <h1><a href="/">WELCOME TO RHESUS THESIS</a> </h1>
            <hr> -->
    <nav class="navbar navbar-default navbar-top" role="navigation">
        <a class="navbar-brand" href="/">RhesusThesis</a>
        <ul class="nav navbar-nav">
       <!--  <li>
            <a href="/">Home</a>
        </li> -->
        <li><a href="/about">About</a></li>
        <li>
            <a href="/rhesusThesis/RHESUS">Rhesus</a>
        </li>

        <li>
            <a href="/rhesusThesis/THESIS">Thesis</a>
        </li>

        {% if current_user.is_authenticated() %}
<!--       add links to ideas for this user etc -->
        
        <li>
            <a href="/allUsers/{{current_user.email}}">Submitted Ideas</a>
        </li>

        <li>
            <a href="/forUser/{{current_user.email}}">My Ideas</a>
        </li>
        
        <li>
            <a href="/logout">Logout</a>
        </li>

        <li>
            <a href="#">Hello {{current_user.email}}</a>
        </li>
        
        {% else %}

        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
        </ul>
    </nav>

            {% block body %}{% endblock %}

            <footer>
                <p><a href="http://itppyweb.herokuapp.com/notes/week_5">ITP DWD Fall 2013</a> | <a href="https://github.com/johnschimmel/ITP-Python-Databases-Week5">See Code on Github</a> | 
                <a href="/data/ideas">JSON</a> | <a href="/data/grab">Clothing Data</a></p>
                
            </footer>

        </div> <!-- /container -->


        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        {% block scripts %}{% endblock %}

    </body>
</html>
