{% extends "layout.html" %}

{% block body %}


<div class="row">

	<!-- left column -->

	
	<div class="col-md-6" style="height:550px;width:45%;border:1px solid #ccc;overflow:auto;">
	<h3>Submitted Ideas</h3>

		
		<!-- <p><a href="/data/ideas">JSON | </a> <a href="/data/grab">Clothing Data</a></p> -->

		{% for idea in ideas %}
			<h4>
				<a href="/ideas/{{ idea.slug }}">{{ idea.tagline }}</a>
			</h4>
			<p>by <a href="/allUsers/{{ idea.creator }}">{{ idea.creator }}</a></p>
			<!-- NEED TO GET CREATOR TO LINK TO ALLUSERS PAGE -->
			<p>
			
			<ul>
				{% for cat in idea.categories %}
				<li>
					<a href="/category/{{ cat}}">
						{{ cat|replace("_"," ")}}
					</a>
				</li>
					
				{% endfor %}
			</ul>

			<ul>
				{% for rhes in idea.rhesusThesis %}
				<li>
					<a href="/rhesusThesis/{{ rhes}}">
						{{ rhes|replace("_"," ")}}
					</a>
				</li>
					
				{% endfor %}
			</ul>

			<!-- <a class="label" href="/ideas/{{ idea.slug }}/edit">edit</a> -->
			</p>
			
			<hr/>
		{% endfor %}
		
	</div>

	{% if current_user.is_anonymous() %}
	<div class = "col-md-6" style = "margin-left: 30px;">
		<h2>
			<a href="/login">login</a> or <a href="/register">register</a> to contribute to Rhesus Thesis
		</h2>
	</div>
	{% endif %}

	<!-- right column -->
	{% if current_user.is_authenticated() %}
	<!-- <h2><a href="/logout">Logout</a> Hello {{current_user.email}}</h2> -->
	<div class="col-md-6" style = "margin-left: 30px;">
	<h3>Add an idea here</h3>
		<form method="POST" role="form">
			<legend></legend>
			<div class="form-group">
				<!-- <label for="creator">Full Name</label> -->
				<input type="text" id="creator" style="display: none;" name="creator" class="form-control" value="{{current_user.email}}">
			</div>

			<!-- <div class="form-group"> -->

			<label>Rhesus or Thesis?</label>
			<p class="help-block"></p>
			<!-- {# comment - loop through rhesusThesis and create checkboxes #} -->
			{% for r in rhesusThesis|sort %}

			<div class="checkbox">
				<label>
					<input type="checkbox" name="rhesusThesis" value="{{r}}"> {{ r|title }}
				</label>

			</div>


			{% endfor %}

			<div class="form-group" style = "width = 65%;">
				<label for="tagline">Idea Tagline</label>
				<input type="text" id="tagline" name="tagline" class="form-control" value="">
			</div>
			
			<div class="form-group">
				<label for="idea">Idea description</label>
				<textarea name="idea" id="idea" class="form-control"></textarea>
			</div>

			<label>Category</label>
			<p class="help-block">Select as many as you need.</p>
			<!-- {# comment - loop through categories and create checkboxes #} -->
			{% for c in categories|sort %}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="categories" value="{{c}}"> {{ c|title }}
				</label>
			</div>
			{% endfor %}

			<label>ALL USERS</label>
			<p class="help-block">Select as many as you need.</p>
			<!-- {# comment - loop through categories and create checkboxes #} -->
			{% for a in allUsers|sort %}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="categories" value="{{a}}"> {{ a|title }}
				</label>
			</div>
			{% endfor %}



			<button type="submit" class="btn btn-primary">Submit Idea</button>
		</form>
	</div>
	{% endif %}
	

</div>

<!-- {% endblock %} -->


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}