{% extends "layout.html" %}


{% block body %}

<div class="row">

	<!-- left column -->
	<div class="span6">
		<h3>Ideas: {{ current_rhesusThesis.get('name')|title }}</h3>
		
		{% for idea in ideas %}
			<h4><a href="/ideas/{{ idea.slug }}">{{ idea.tagline }}</a></h4>
			<p>by {{ idea.creator }}</p>
			<p>
			{% for r in idea.rhesusThesus %}
				<span class="label label-inverse"><a href="/rhesusThesis/{{ r}}">{{ rhes|replace("_"," ")}}</a></span>
			{% endfor %}
			<hr/>
		{% endfor %}
		
	</div>

	<div class="span6">
		<!-- <h3>Rhesus or Thesis</h3> -->
		<ul>
		{% for r in rhesusThesis %}
		<li><a href="/rhesusThesis/{{ r|replace(" ","_") }}">{{ r|title }}</a></li>
		{% endfor %}
		</ul>

		<br><br>

		<!-- <a href="/" class="btn btn-large btn-info">Add Your Idea</a> -->
	</div>

	

	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}

